@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";
.info-container{
    // position: absolute;
    overflow: hidden;
    .banner{
        width: 100%;
        height: 75vh;
        background: rgba(30, 10, 60, 1);
        @include mobile {
            // width: 50%;
            height: auto;
            overflow: hidden;
        }
        .bannerHeading{
            color: white;
            font-size: 49px;
            position: relative;
            /* bottom: 2px; */
            top: 112px;
            left:80px;
            @include mobile {
                width: 100%;
                left: 20px;
                font-size: 30px;
            }
        }
        .bannerSub{
            color: white;
            font-size: 14px;
            position: relative;
            /* bottom: 2px; */
            top: 112px;
            left:80px;
            font-weight: 200;
            @include mobile {
                // width: 50%;
                left: 20px;
                font-size: 15px;
            }
    
        }
        .bannerImg{
            height: 45%;
            object-fit: cover;
            width: 60%;
            position: relative;
            left: 811px;
            bottom: 25px;
            @include mobile {
                left: 1px;
                top: 100px;
                /* height: 47%; */
                object-fit: scale-down;
                width: 100%;
            }
        }
        .bannerContent{
            height: auto;
            object-fit: contain;
            width: 100%;
            position: relative;
            left: 0;
            bottom: 22px;
            // display: none;
            @include mobile{
                display: none;
                // background: url("../../static/assets/images/mobBanner.png");
            }
        }
        .bannerContentMobile{
            display: none;
            @include mobile{
                display: block;
                width: 100%;
                margin-top: 100px;
                object-fit: contain;
                height: -webkit-fill-available;
            }
        }
    
    }
    
    .mainSec{
        background-color: aliceblue;
        width:100%;
        height:75vh;
        position: absolute;
        z-index: 4;
            @include mobile{
                display: flex;
                margin-bottom: 28px;
                height: 81vh;
                overflow: hidden;

            }
            @include iphone5{
                display: flex;
                margin-bottom: 28px;
                height: 100vh;
                overflow: hidden;
            }
            // @include iphone6{
            //     display: flex;
            //     margin-bottom: 28px;
            //     height: 88vh;
            //     overflow: hidden;
            // }
        .content_heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 60px;
            
            .cont_heading{
              font-size: 36px;  
              @include mobile{
                  font-size: 20px;
              }
            }
            .content_subHeading{
                opacity: 0.5;
                font-size: 20px;
                @include mobile{
                    font-size: 16px;
                }
            }
            // @include iphone5{
            //     position: absolute;
            //     overflow: overlay;
            //     width: 100%;
            //     left: -60px;
            //     /* right: auto; */
            //     top: 760px;
            //     background: aliceblue;
            //     z-index: 1;
            // }
            // @include iphone6{
            //     position: absolute;
            //     overflow: overlay;
            //     width: 100%;
            //     left: -45px;
            //     /* right: auto; */
            //     top: 51px;
            //     background: aliceblue;
            //     z-index: 3;
            // }
            @include mobile{
                position: absolute;
                overflow: overlay;
                width: 100%;
                left: -30px;
                /* right: auto; */
                /* top: -4px; */
                background: aliceblue;
                z-index: 10;
            }
            
        }
        .content{
            display: flex;
            justify-content: center;
            @include mobile{
                position: absolute;
                overflow: auto;
                width: 100%;
                top: 220px;
                z-index: 8;
                background: aliceblue;
                /* height: 364px; */
                display: block;
            }
            .content_logo{
                display: flex;
                /* flex-direction: row; */
                max-width: 21%;
                /* position: relative; */
                /* justify-content: center; */
                align-items: center;
                @include mobile{
                    max-width: 85% !important;
                    overflow: hidden;
                }
            .logo{
                object-fit: none;
                height: 94.86px;
                width: 94.86;
                // background: url("../../static/assets/images/Ellipse.png") no-repeat;
    
            }
            .logo_content{
                font-weight: 500;
                font-size: 26px;
                /* line-height: 26px; */
                /* position: relative; */
                width: 100%;
                @include mobile{
                    font-size: 20px;
                    max-width: 10rem;
                    letter-spacing: 0px;
                    font-weight: 600;
                }
            }
        }
    
        }
        
        
        .exploreMore{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;
            // background: url("../../static/assets/images/Ellipse.png") no-repeat;
            @include mobile{
                position: absolute;
                top: 505px;
                left: 31px;
                height: 35px;
                z-index: 2;
                width: 52%;
                /* background: no-repeat; */
            }
    
            .btn{
                border-radius: 24px;
                padding: 16px 30px 16px 30px;
                border-color: #833cff;
                font-size: 18px;
                color: rgba(131, 60, 255, 1);
                @include mobile{
                    border:none;
                    position: relative;
                }
            }
            .logo{
                height: 10px;
                width: 11px;
                position: relative;
                right: 25px;
                background: url("../../static/assets/images/Ellipse.png") no-repeat;
    
            }
        }
        #search {
            // width: 450px;
            /* margin: 4px; */
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin:65px;
            background: url("../../static/assets/images/Ellipse.png") no-repeat;
            @include mobile{
                z-index: 2;
            }
            #searchForm{
                    @include mobile{
                    position: absolute;
                    right: -5px;
                    bottom: 3043px;
                }
            }
    
            .logoBtn{
                height: 71px;
                object-fit: contain;
                position: relative;
                right: 102px;
                @include mobile{
                    left: 246px;
                    right: 0;
                }
            }
        }
        #search_text{
            width: 740px;
            padding: 15px 0 15px 20px;
            font-size: 16px;
            /* font-family: Montserrat, sans-serif; */
            border: none;
            height: 70px;
            margin-right: 0;
            color: gainsboro;
            outline: none;
            /* background: #fff; */
            float: left;
            box-sizing: border-box;
            transition: all 0.15s;
            border-radius: 30px;
            box-shadow: 1px 3px 8px;
            @include mobile{
                width: 320px;
                margin-right: 50px;
                position: relative;
                left: 20px;
            }
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #9c9898;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #9c9898;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #9c9898;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #9c9898;
        }
        #search_text:focus {
            background: rgb(234, 241, 241);
        }
    }
    
    
    .footer-container{
        position: relative;
        z-index: 3;
    }
}
